[mariadbd]

# - file that stores the main mariadbd process ID
pid-file        = /run/mysqld/mysqld.pid

# - allow MariaDB to listen on all network interfaces
bind-address    = 0.0.0.0

# - delete binary log files older than 10 days
expire_logs_days = 10


[mysqld]

# - port config set by defualt to 3306
port = 3306
